/* GTK 3-specific stuff goes here.
 * The idea is to rid the GTK 4 theme of as many legacy rules as possible.
 * Also, overrides can go here, in case the GTK 4 styles don't work in GTK 3. */

/* GTK3-specific stuff */
*
{
    -GtkToolItemGroup-expander-size: 9;
    -GtkExpander-expander-size: 9;
    -GtkTreeView-expander-size: 9;
}

check row,
radio row
{
    background-color: @base_color;
    border-width: 1px;
}


/**********************************************/
menubar
{
    border-width: 0 0 1px 0;
}

menubar > menuitem:hover
{
    background-color: @bg_color;
    border-bottom: 3px solid @menu_hilite_color;
    color: @menu_hilite_color;
}

menu
{
    border-style: solid;
    border-width: 1px;
}

menuitem
{
    border-width: 0;
    background-color: transparent;
    padding: 3px 7px 2px 7px;
}

menu > menuitem > arrow
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

menu > menuitem > arrow:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

menu > menuitem label
{
    color: inherit;
}

menu > menuitem:hover,
menu > menuitem:hover arrow,
menu > menuitem:hover label,
menu > menuitem:hover label accelerator
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/* Don't highlight submenus of hovered items */
menu > menuitem:hover menu arrow,
menu > menuitem:hover menu label,
menu > menuitem:hover menu label accelerator
{
    background-color: transparent;
    color: inherit;
}

menu > menuitem check,
menu > menuitem radio
{
    background-color: @selected_fg_color;
    color: @selected_bg_color;
    margin-right: 5px;
    min-height: 10px;
    min-width: 10px;
}

menu > menuitem check,
menu > menuitem check:checked,
menu > menuitem check:checked:hover,
menu > menuitem check:hover,
menu > menuitem radio,
menu > menuitem radio:checked,
menu > menuitem radio:checked:hover,
menu > menuitem radio:hover
{
    border: none;
}

menu > menuitem check:hover,
menu > menuitem radio:hover
{
    background-color: @bg_color;
}

menu > menuitem check
{
    color: shade(@selected_bg_color, 0.9);
    -gtk-icon-source: -gtk-icontheme("checkbox-symbolic");
}

menu > menuitem check:checked
{
    -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
}

menu > menuitem check:disabled,
menu > menuitem radio:disabled
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

menu > menuitem radio
{
    -gtk-icon-source: -gtk-icontheme("radio-symbolic");
}

menu > menuitem radio:checked
{
    -gtk-icon-source: -gtk-icontheme("radio-checked-symbolic");
}
/**********************************************/


pane-separator
{
    background-color: @bg_color;
    border-color: @black;
    border-width: 2px;
}

pane-separator:hover
{
    background-color: shade(@base_color, 0.95);
}

scrollbar button,
scrollbar button:hover,
scrollbar button:active,
scrollbar button:hover:active
{
    border-color: @border_color;
    min-height: 10px;
    min-width: 10px;
}

scrollbar.horizontal button.down
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

scrollbar.horizontal button.up
{
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

scrollbar.vertical button.down
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up
{
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

sidebar,
sidebar.view
{
    background-color: shade(@bg_color, 1.05);
}

sidebar row:hover,
sidebar.view row:hover
{
    background-color: @bg_color;
}

sidebar row:selected,
sidebar row:selected:hover
{
    background-color: @selected_bg_color;
}

text-button
{
    border-width: 1px;
    padding: 4px;
}


/**********************************************/
toolbar
{
    padding: 2px 0;
    border-width: 0 0 1px 0;
}

toolbar button.image-button:not(.toggle)
{
    border: none;
}
/**********************************************/

/* Overrides */
