/* GTK 3-specific stuff goes here.
 * The idea is to rid the GTK 4 theme of as many legacy rules as possible.
 * Also, overrides can go here, in case the GTK 4 styles don't work in GTK 3. */

/* GTK3-specific stuff */
*
{
    -GtkToolItemGroup-expander-size: 9;
    -GtkExpander-expander-size: 9;
    -GtkTreeView-expander-size: 9;
}

check row,
radio row
{
    background-color: @base_color;
    border-width: 1px;
}

switch:checked
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

switch:disabled
{
    background-color: shade(@bg_color, 0.95);
}

check:checked,
radio:checked
{
    -gtk-icon-source: builtin;
}

check + label,
radio + label
{
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

progressbar progress .row:selected
{
    border-color: @fg_color;
}

progressbar progress .row:selected:focus
{
    border-color: @selected_fg_color;
}


/**********************************************/
arrow
{
    min-height: 16px;
    min-width: 16px;
}
/**********************************************/


/**********************************************/
assistant .sidebar
{
    background-color: @trough_color;
}

assistant .sidebar .highlight,
assistant .title
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

assistant .title
{
    font-weight: bold;
    min-width: 531px;
    padding: 3px 0;
}
/**********************************************/

/**********************************************/
menubar
{
    border-width: 0 0 1px 0;
}

menubar > menuitem:hover > :first-child
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

menu
{
    border-style: solid;
    border-width: 1px;
}

menuitem
{
    border-width: 0;
    background-color: transparent;
    padding: 3px 7px 2px 7px;
}

menu > menuitem label
{
    color: inherit;
}

menu > menuitem:hover,
menu > menuitem:hover arrow,
menu > menuitem:hover label,
menu > menuitem:hover label accelerator
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/* Don't highlight submenus of hovered items */
menu > menuitem:hover menu arrow,
menu > menuitem:hover menu label,
menu > menuitem:hover menu label accelerator
{
    background-color: transparent;
    color: inherit;
}

menu > menuitem check,
menu > menuitem radio
{
    background-color: @selected_fg_color;
    color: @selected_bg_color;
    margin-right: 5px;
    min-height: 10px;
    min-width: 10px;
}

menu > menuitem check,
menu > menuitem check:checked,
menu > menuitem check:checked:hover,
menu > menuitem check:hover,
menu > menuitem radio,
menu > menuitem radio:checked,
menu > menuitem radio:checked:hover,
menu > menuitem radio:hover
{
    border: none;
}

menu > menuitem check:hover,
menu > menuitem radio:hover
{
    background-color: @bg_color;
}

menu > menuitem check
{
    -gtk-icon-source: -gtk-icontheme("checkbox-symbolic");
    color: shade(@selected_bg_color, 0.9);
}

menu > menuitem check:checked
{
    -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
}

menu > menuitem check:disabled,
menu > menuitem radio:disabled
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

menu > menuitem radio
{
    -gtk-icon-source: -gtk-icontheme("radio-symbolic");
}

menu > menuitem radio:checked
{
    -gtk-icon-source: -gtk-icontheme("radio-checked-symbolic");
}
/**********************************************/


scrollbar button,
scrollbar button:hover,
scrollbar button:active,
scrollbar button:hover:active
{
    border-color: @border_color;
    min-height: 1px;
    min-width: 1px;
}

scrollbar.horizontal button.down
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

scrollbar.horizontal button.up
{
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

scrollbar.vertical button.down
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up
{
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}


/**********************************************/
toolbar
{
    padding: 2px 0;
    border-width: 0 0 1px 0;
}

toolbar button.image-button:not(.toggle)
{
    border: none;
}
/**********************************************/


/**********************************************/
.sidebar :hover,
.sidebar.view :hover
{
    background-color: @bg_color;
}

.sidebar :active
{
    background-color: @selected_bg_color;
}
/**********************************************/


popover modelbutton:hover :not(check):not(radio)
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/* Visually draw attention to the focused item that's activated on Return. */
popover modelbutton:focus :not(check):not(radio)
{
    background-color: mix(@bg_color, @selected_bg_color, 1.6);
    color: @selected_fg_color;
    font-style: italic;
}

popover modelbutton:hover check
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

row:hover
{
    background-color: shade(@base_color, 0.95);
}

scale > contents > trough
{
    border-width: 1px;
    border-color: @border_color1;
    border-right-color: @base_color;
    border-bottom-color: @base_color;
}

scale.horizontal > contents > trough
{
    padding: 0 7px;
}

scale.vertical > contents > trough
{
    padding: 7px 0;
}

scale > contents > trough > slider
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-top-color: @base_color;
    border-width: 1px;
    padding: 1px;
    min-height: 10px;
    min-width: 10px;
}

expander arrow
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

expander arrow:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

expander arrow:checked
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/* Overrides */
