/**********************************************/
*
{
    padding: 0;
    color: @fg_color;
    border-color: @border_color;
    border-style: none;
    border-width: 1px;
}

.view:selected,
selection
{
    background-color: @selected_bg_color;
    color: @fg_color;
}

.view:selected:focus,
:selected:focus,
selection:focus
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

*:focus
{
    color: @border_color;
}

.view:focus,
entry:focus,
label:focus,
text:focus
{
    color: @fg_color;
}

treeview.view:focus
{
    color: @border_color;
}

treeview.view:focus *
{
    color: @fg_color;
}

*:disabled
{
    background-color: shade(@bg_color, 0.95);
    border-color: @disabled_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

.background
{
    background-color: @bg_color;
    border: none;
}
/**********************************************/


/**********************************************/
headerbar
{
    background-color: @bg_color;
}

label,
label:active,
label:disabled,
image,
image:active,
image:disabled
{
    background-color: transparent;
    border-width: 0;
}
/**********************************************/


/**********************************************/
statusbar *
{
    border-width: 1px 0 0 0;
}

statusbar label
{
    border-width: 0;
}
/**********************************************/


/**********************************************/
tooltip.background
{
    background-color: @tooltip_bg_color;
    border: 1px solid @tooltip_border_color;
    color: @tooltip_fg_color;
}
/**********************************************/


/**********************************************/
.view
{
    background-color: @base_color;
}

/**********************************************/


/**********************************************/
row
{
    border-width: 0;
}

row:hover
{
    background-color: shade(@base_color, 0.95);
}

row:nth-child(odd)
{
    background-color: shade(@base_color, 0.97);
}
/**********************************************/


/**********************************************/
trough,
trough > row,
trough > row:hover,
trough > row:selected,
trough > row:selected:focus
{
    background-color: mix(@fg_color, @bg_color, 0.9);
    border-width: 0px;
}

trough > row:selected
{
    border-color: @fg_color;
}

trough > row:selected:focus
{
    border-color: @selected_fg_color;
}

scrollbar slider
{
    background-color: @scrollbar_slider_color;
    border-style: solid;
    border-width: 1px;
    min-height: 10px;
    min-width: 10px;
    padding: 1px;
}

scrollbar slider:hover
{
    background-color: @scrollbar_slider_hover_color;
}

progressbar > trough
{
    background-color: @bg_color;
}

scale > trough
{
    border-width: 1px;
    border-color: @border_color1;
    border-right-color: @base_color;
    border-bottom-color: @base_color;
}

scale.horizontal > trough
{
    padding: 0 7px;
}

scale.vertical > trough
{
    padding: 7px 0;
}

scale > trough > slider
{
    background-color: @selected_bg_color;
    border-left-color: @base_color;
    border-top-color: @base_color;
    border-width: 1px;
    min-height: 10px;
    min-width: 10px;
    padding: 1px;
}

scale mark *
{
    min-height: 5px;
    min-width: 1px;
}

scrolledwindow
{
    border: none;
}
/**********************************************/


/**********************************************/
switch
{
    background-color: transparent;
    border-width: 1px;
}

switch > :nth-child(1)
{
    background-color: @selected_bg_color;
}

switch > :nth-child(2)
{
    background-color: shade(@bg_color, 0.95);
}

switch > slider
{
    background-color: mix(@fg_color, @bg_color, 0.9);
}
/**********************************************/


/**********************************************/
slider
{
    border-width: 1px;
    background-color: @bg_color;
}

slider:disabled
{
}
/**********************************************/


/**********************************************/
separator
{
    background-color: @border_color;
    min-height: 1px;
    min-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}
/**********************************************/


/**********************************************/
button
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-style: solid;
    border-top-color: @base_color;
    border-width: 1px;
    padding: 5px;
}

button:not(.toggle).destructive-action,
button:not(.toggle).destructive-action:focus
{
    background-color: @error_bg_color;
    color: @error_fg_color;
}

button:not(.toggle).suggested-action,
button:not(.toggle).suggested-action:focus
{
    background-color: @question_bg_color;
    color: @question_fg_color;
}

button.text-button
{
    border-width: 1px;
    padding: 4px;
}

button:hover
{
    background-color: shade(@bg_color, 1.03);
}

button:active
{
    background-color: shade(@bg_color, 0.9);
    border-bottom-color: @button_active_bottom_right_border_color;
    border-left-color: @button_active_top_left_border_color;
    border-right-color: @button_active_bottom_right_border_color;
    border-top-color: @button_active_top_left_border_color;
}

button:active:hover
{
    background-color: shade(@bg_color, 1.03);
}

button:disabled
{
    background-color: shade(@bg_color, 0.95);
    border-color: @disabled_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

button:focus,
check:focus + label,
check:checked:focus + label,
radio:focus + label,
radio:checked:focus + label
{
    border-color: @button_focused_border_color;
}

button.toggle
{
    border-style: outset;
    border-width: 2px;
}

button.toggle:checked
{
    border-style: inset;
}

button.toggle:not(:focus)
{
    border-color: @border_color;
}

spinbutton,
spinbutton:focus
{
    color: @fg_color;
}

spinbutton button
{
    border: none;
}

spinbutton button:focus
{
    color: @fg_color;
}

/* Spinner code lifted from the GTK+ CSS overview */
@keyframes spin
{
    to
    {
        -gtk-icon-transform: rotate(1turn);
    }
}

spinner
{
    -gtk-icon-source: -gtk-icontheme('process-working-symbolic');
}

spinner:checked
{
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/**********************************************/


/**********************************************/
entry,
text
{
    background-color: @base_color;
    padding: 2px 2px 3px 2px;
    border-style: solid;
    border-width: 1px;
}

entry:disabled,
text.read-only
{
    background-color: shade(@base_color, 0.95);
}

entry progress
{
    background-color: shade(@selected_bg_color, 1.35);
}

entry text
{
    border: none;
}
/**********************************************/


/**********************************************/
checkbutton,
checkbutton:selected,
checkbutton:selected:focus,
checkbutton:disabled
{
    background-color: transparent;
}

radio,
radio:checked,
radio:selected,
radio:selected:focus
{
    background-color: @base_color;
    border: 1px solid @border_color;
    border-radius: 8px;
    color: @selected_bg_color;
}

check,
check:checked,
check:selected,
check:selected:focus
{
    background-color: @base_color;
    border: 1px solid @border_color;
    color: shade(@selected_bg_color, 0.9);
}

check:checked,
radio:checked
{
    -gtk-icon-source: -gtk-icontheme("gtk-yes");
}

radio:hover,
check:hover,
radio:hover:focus,
.check:hover:focus
{
    background-color: shade(@base_color, 1.03);
    border-color: @selected_bg_color;
}

radio:disabled,
radio:disabled:selected,
check:disabled,
check:disabled:selected
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

check + label,
radio + label
{
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}
/**********************************************/


/**********************************************/
combobox
{
    background-color: @base_color;
    border-width: 0;
}

combobox:disabled
{
    background-color: shade(@bg_color, 0.95);
}

combobox arrow
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

combobox button
{
    padding: 0;
}

combobox cellview:hover
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}
/**********************************************/


/**********************************************/
progressbar progress,
progressbar progress .row,
progressbar progress .row:hover
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    border-width: 1px;
}

progressbar progress .row:selected
{
    border-color: @fg_color;
}

progressbar progress .row:selected:focus
{
    border-color: @selected_fg_color;
}
/**********************************************/


/**********************************************/
arrow
{
    min-height: 16px;
    min-width: 16px;
}

arrow.bottom
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

arrow.left
{
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

arrow.right
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

arrow.right:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

arrow.top
{
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}


/**********************************************/


/** configure tabs */
notebook > stack
{
    padding: 4px;
    background-color: @bg_color;

    border-color: @base_color;
    border-right-color: @border_color;
    border-bottom-color: @border_color;
    border-width: 1px;
}

notebook > header > tabs > tab
{
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-right-color: @border_color1;
    border-left-color: @base_color;
    border-top-color: @base_color;
    background-color: mix(@fg_color, @bg_color, 0.9);
}

notebook > header > tabs > tab:checked
{
    background-color: @bg_color;
    border-color: @button_focused_border_color;
}

notebook > header.top > tabs > tab
{
    margin-bottom: -1px;
    border-bottom-width: 0px;
}

notebook > header.bottom > tabs > tab
{
    margin-top: -1px;
    border-top-width: 0px;
}

notebook > header.left > tabs > tab
{
    margin-right: -1px;
    border-right-width: 0px;
}

notebook > header.right > tabs > tab
{
    margin-left: -1px;
    border-left-width: 0px;
}

/**********************************************/
.sidebar,
.sidebar.view
{
    background-color: shade(@bg_color, 1.05);
}

.sidebar :hover,
.sidebar.view :hover
{
    background-color: @bg_color;
}

.sidebar :active
{
    background-color: @selected_bg_color;
}
/**********************************************/


/**********************************************/
textview > :first-child
{
    background-color: inherit;
    border-width: 1px;
    color: inherit;
}

colorswatch
{
    border-width: 1px;
    background-color: @bg_color;
}

statusbar *
{
    border: none;
}

menubar > item
{
    border: 0;
}

menubar > item:hover > :first-child
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

menubar > item,
menubar > item popover.menu
{
    padding: 3px 7px 2px 7px;
}

menubar > item popover.menu
{
    border: 1px solid;
}

popover > :first-child
{
    border-width: 1px;
}

popover.menu * > label + accelerator
{
    padding-left: 7px;
}

popover.menu :hover > accelerator,
popover.menu :hover > label
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/**********************************************/


/**********************************************/
expander
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    border-color: @fg_color;
}

expander:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

expander:checked
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
/**********************************************/


/**********************************************/
.error
{
    color: @error_bg_color;
}

.warning
{
    color: @warning_bg_color;
}

infobar.info
{
    background-color: @info_bg_color;
    color: @info_fg_color;
}

infobar.warning
{
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}

infobar.question
{
    background-color: @question_bg_color;
    color: @question_fg_color;
}

infobar.error
{
    background-color: @error_bg_color;
    color: @error_fg_color;
}


/**********************************************/
*:link
{
    color: blue;
}

*:link:hover
{
    color: red;
}

*:visited
{
    color: magenta;
}
/**********************************************/


/**********************************************/
list row:selected *,
listview row:selected *,
listview row:selected:hover *
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}
/**********************************************/
