/**********************************************/
*
{
    -gtk-icon-style: regular;
    border-color: @border_color;
    border-style: none;
    border-width: 1px;
    color: @fg_color;
    padding: 0;
}

:disabled
{
    background-color: @disabled_color;
    border-color: @disabled_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

:focus
{
    color: @border_color;
}

.background
{
    background-color: @bg_color;
    border: none;
}

.view
{
    background-color: @base_color;
}

.view:selected,
selection
{
    background-color: @selected_bg_color1;
    color: @fg_color;
}

.view:selected:focus,
:selected:focus,
selection:focus
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

.view:focus,
entry:focus,
label:focus,
text:focus
{
    color: @fg_color;
}

dnd {
	border-width: 1px;
	border-style: solid;
	border-color: @selected_bg_color;
	border-radius: 0;
}
/**********************************************/


/**********************************************/
label,
label:active,
label:disabled,
image,
image:active,
image:disabled
{
    background-color: transparent;
    border-width: 0;
}

.large-title
{
    font-size: 200%;
}

.title-1
{
    font-size: 180%;
}

.title-2
{
    font-size: 160%;
}

.title-3
{
    font-size: 140%;
}

.title-4, .heading
{
    font-size: 120%;
}

.body
{
    font-family: serif;
}

.caption, .caption-heading
{
    font-family: monospace;
}

.caption-heading, .heading
{
    font-weight: bold;
}
/**********************************************/


/**********************************************/
statusbar *
{
    border-width: 1px 0 0 0;
}

statusbar label
{
    border-width: 0;
}
/**********************************************/


/**********************************************/
tooltip.background
{
    background-color: @tooltip_bg_color;
    border: 1px solid @tooltip_border_color;
    color: @tooltip_fg_color;
}
/**********************************************/


/**********************************************/
row
{
    border-width: 0;
}

row:nth-child(even)
{
    background-color: shade(@bg_color, 0.95);
}

row:nth-child(odd)
{
    background-color: shade(@base_color, 0.97);
}

row:hover
{
    background-color: @trough_color;
}

row:selected
{
    font-style: italic;
}

row:selected:focus-within
{
    font-style: normal;
}

row:focus-visible *,
row:selected *
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}
/**********************************************/


/**********************************************/
trough,
trough > row,
trough > row:hover,
trough > row:selected,
trough > row:selected:focus
{
    background-color: @trough_color;
    border-width: 0px;
}

trough > row:selected
{
    border-color: @fg_color;
}

trough > row:selected:focus
{
    border-color: @selected_fg_color;
}

paned > separator
{
    background-color: @bg_color;
    border-color: @border_color;
    border-width: 2px;
}

paned > separator:hover
{
    background-color: shade(@base_color, 0.95);
}

scrollbar slider
{
    background-color: @scrollbar_slider_color;
    border-style: solid;
    border-width: 1px;
    min-height: 10px;
    min-width: 10px;
    padding: 1px;
}

scrollbar slider:hover
{
    background-color: @scrollbar_slider_hover_color;
}

scale > trough
{
    border-width: 1px;
    border-color: @border_color1;
    border-right-color: @base_color;
    border-bottom-color: @base_color;
}

scale.horizontal > trough
{
    padding: 0 7px;
}

scale.vertical > trough
{
    padding: 7px 0;
}

scale > trough > fill,
scale > trough > highlight
{
    background-color: @selected_bg_color;
}

scale > trough > slider
{
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    min-height: 10px;
    min-width: 10px;
    padding: 1px;
}

scale mark *
{
    min-height: 5px;
    min-width: 1px;
}

scrolledwindow
{
    border: none;
}
/**********************************************/


/**********************************************/
switch
{
    background-color: @trough_color;
    border-width: 1px;
}

switch *,
switch:disabled *
{
    color: transparent;
}

switch:checked
{
    background-color: @selected_bg_color;
}

switch > slider
{
    border-radius: 100%;
    border: 1px @border_color solid;
}
/**********************************************/


/**********************************************/
slider
{
    border-width: 1px;
    background-color: @bg_color;
}
/**********************************************/


/**********************************************/
separator
{
    background-color: @border_color;
    min-height: 1px;
    min-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}
/**********************************************/


/**********************************************/
button
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-style: solid;
    border-top-color: @base_color;
    border-width: 1px;
    padding: 5px;
}

button:not(.toggle).destructive-action,
button:not(.toggle).destructive-action:focus
{
    background-color: @error_bg_color;
    color: @error_fg_color;
}

button:not(.toggle).suggested-action,
button:not(.toggle).suggested-action:focus
{
    background-color: @question_bg_color;
    color: @question_fg_color;
}

button:hover
{
    background-color: shade(@bg_color, 1.03);
}

button:active,
button:active:focus
{
    background-color: shade(@bg_color, 0.9);
    border-bottom-color: @button_active_bottom_right_border_color;
    border-left-color: @button_active_top_left_border_color;
    border-right-color: @button_active_bottom_right_border_color;
    border-top-color: @button_active_top_left_border_color;
}

button:active:hover
{
    background-color: shade(@bg_color, 1.03);
}

button:disabled
{
    background-color: @disabled_color;
    border-color: @disabled_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

button.link
{
    background-color: transparent;
    border: 1px transparent inset;
}

button.link:hover
{
    border-color: @border_color;
}

button.text-button
{
    border-width: 1px;
    padding: 4px;
}

button:focus,
button.toggle:focus > label,
menubutton button.toggle:focus,
check:focus + label,
check:checked:focus + label,
radio:focus + label,
radio:checked:focus + label
{
    border-color: @button_focused_border_color;
}

button.toggle
{
    border: 1px @border_color outset;
}

button.toggle:checked
{
    border-style: inset;
}

button.toggle > label
{
    border: 1px transparent solid;
}

menubutton.circular *,
.circular
{
    border-color: transparent;
    border-radius: 100%;
    margin: 0.5px 2px;
}

spinbutton,
spinbutton:focus
{
    color: @fg_color;
}

spinbutton button
{
    border: none;
}

spinbutton button:focus
{
    color: @fg_color;
}

/* Spinner code lifted from the GTK+ 3 CSS overview */
@keyframes spin
{
    to
    {
        -gtk-icon-transform: rotate(1turn);
    }
}

spinner
{
    -gtk-icon-source: -gtk-icontheme('process-working-symbolic');
}

spinner:checked
{
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/**********************************************/


/**********************************************/
entry,
text
{
    background-color: @base_color;
    padding: 2px 2px 3px 2px;
    border-style: solid;
    border-width: 1px;
}

entry:disabled,
text.read-only
{
    background-color: shade(@base_color, 0.95);
}

entry text
{
    border: none;
}
/**********************************************/


/**********************************************/
checkbutton,
checkbutton:selected,
checkbutton:selected:focus,
checkbutton:disabled
{
    background-color: transparent;
}

check,
check:checked,
check:selected,
check:selected:focus,
check.view:selected:focus
{
    background-color: @base_color;
    border: 1px solid @border_color;
    color: shade(@selected_bg_color, 0.9);
}

check:checked
{
    -gtk-icon-source: url("../assets/check.svg");
}

check:checked:disabled
{
    -gtk-icon-source: url("../assets/check-disabled.svg");
}

check + label,
radio + label
{
    padding-left: 1ex;
}

/* GTK 4 bug: radio has to be first */
radio:indeterminate,
check:indeterminate
{
    -gtk-icon-source: url("../assets/mixed.svg");
}

check:indeterminate:disabled,
radio:indeterminate:disabled
{
    -gtk-icon-source: url("../assets/mixed-disabled.svg");
}

radio,
radio:checked,
radio:selected,
radio:selected:focus,
radio.view:selected:focus
{
    background-color: @base_color;
    border: 1px solid @border_color;
    border-radius: 100%;
    color: @selected_bg_color;
}

radio:hover,
check:hover,
radio:hover:focus,
check:hover:focus
{
    background-color: shade(@base_color, 1.03);
    border-color: @selected_bg_color;
}

radio:disabled,
radio:disabled:selected,
radio.view:disabled:selected,
check:disabled,
check:disabled:selected,
check.view:disabled:selected
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

radio:checked
{
    -gtk-icon-source: url("../assets/radio.svg");
}

radio:checked:disabled
{
    -gtk-icon-source: url("../assets/radio-disabled.svg");
}
/**********************************************/


/**********************************************/
combobox
{
    background-color: @base_color;
    border-width: 0;
}

combobox:disabled
{
    background-color: @disabled_color;
}

combobox button
{
    padding: 0;
}

combobox cellview:hover *
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}
/**********************************************/


/**********************************************/
levelbar > trough > block
{
    background-color: @base_color;
    border: 1px @border_color ridge;
    min-height: 5px;
    min-width: 5px;
}

levelbar > trough > block.filled
{
    background-color: shade(@selected_bg_color, 1.35);
}

progress progress
{
    background-color: shade(@selected_bg_color, 1.35);
    min-height: 1px;
}

progressbar progress
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    border-width: 1px;
    min-height: 5px;
    min-width: 5px;
}

progressbar > text
{
    background-color: @bg_color;
    border: 0;
}
/**********************************************/


/**********************************************/
arrow/*.bottom*/
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

arrow.left
{
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

arrow.right
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

arrow.right:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

arrow.top
{
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
/**********************************************/


/**********************************************/
/** configure tabs */
frame,
.frame
{
    border: 1px @border_color solid;
}

frame > label
{
    margin: 4px;
}

notebook
{
    border: 1px @border_color outset;
}

notebook > header > tabs > tab
{
    background-color: @trough_color;
    border: 1px @trough_color outset;
    padding: 4px;
}

notebook > header > tabs > tab:checked
{
    background-color: @bg_color;
}
notebook:focus > header > tabs > tab > label
{
    border-color: @border_color;
    border-width: 1px;
}

notebook:focus > header > tabs > tab:checked > label
{
    border-style: solid;
}

notebook > header.top > tabs > tab
{
    margin-bottom: -1px;
    border-bottom-width: 0px;
}

notebook > header.bottom > tabs > tab
{
    margin-top: -1px;
    border-top-width: 0px;
}

notebook > header.left > tabs > tab
{
    margin-right: -1px;
    border-right-width: 0px;
}

notebook > header.right > tabs > tab
{
    margin-left: -1px;
    border-left-width: 0px;
}

notebook > stack
{
    background-color: @bg_color;
    border-color: @base_color;
    border-bottom-color: @border_color;
    border-right-color: @border_color;
    border-width: 1px;
    padding: 4px;
}
/**********************************************/


/**********************************************/
window:not(.toplevel)
{
    border: 1px @fg_color solid;
}

/* CSD titlebars, based on GNOME's Clearlooks */
window.csd .titlebar,
window.csd-solid .titlebar
{
    background-image: linear-gradient(to bottom, #589bda, #3c7cb7);
    border: 1px #7cb6ec solid;
}

window.csd .titlebar .title,
window.csd-solid .titlebar .title
{
    color: @base_color;
}

window.ssd .titlebar
{
    border: 1px @border_color solid;
    padding: 2ex;
}

window.assistant .sidebar
{
    padding-top: 2px;
}

window.assistant .sidebar .highlight,
window.assistant headerbar,
window.assistant .title
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

window.assistant .sidebar .highlight,
window.assistant .title
{
    font-weight: bold;
}
/**********************************************/


/**********************************************/
textview > :first-child
{
    background-color: inherit;
    border-width: 1px;
    color: inherit;
}

colorswatch
{
    border-width: 1px;
    background-color: @bg_color;
}

statusbar *
{
    border: none;
}


/**********************************************/
.sidebar
{
    background-color: shade(@bg_color, 1.05);
}

.sidebar.view :active
{
    background-color: @selected_bg_color;
}
/**********************************************/


/**********************************************/
box.toolbar
{
    border-width: 0 0 1px 0;
    padding: 2px 0;
}

box.toolbar button.image-button:not(.toggle)
{
    border: none;
}
/**********************************************/


/**********************************************/
menubar
{
    border-width: 0 0 1px 0;
}

menubar > item:hover,
menubar > item:hover > label
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

menubar > item
{
    border-width: 0;
    background-color: @bg_color;
    padding: 3px 7px 2px 7px;
}

menubar > item:disabled,
menubar > item :disabled
{
    background-color: transparent;
}

menubar > item check,
menubar > item radio
{
    margin: 1px 5px 1px 0;
}

menubar > item > popover.menu
{
    border: 1px @border_color solid;
}

popover > :first-child
{
    border-width: 1px;
}

popover.menu modelbutton
{
    padding: 0.5ex 1ex;
}

popover.menu modelbutton,
popover.menu modelbutton > .menu
{
    background-color: @bg_color;
    color: @fg_color;
}

popover.menu modelbutton:focus:not(:hover):not(:selected),
popover.menu modelbutton:focus:not(:hover):not(:selected) > :not(.menu)
{
    background-color: @selected_bg_color1;
    color: @selected_fg_color;
}

popover.menu modelbutton:hover,
popover.menu modelbutton:hover accelerator,
popover.menu modelbutton:hover arrow,
popover.menu modelbutton:hover label,
popover.menu modelbutton:selected,
popover.menu modelbutton:selected accelerator,
popover.menu modelbutton:selected arrow,
popover.menu modelbutton:selected label
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/* Don't highlight submenus of hovered items */
popover.menu modelbutton:hover .menu accelerator,
popover.menu modelbutton:hover .menu arrow,
popover.menu modelbutton:hover .menu label,
popover.menu modelbutton:selected .menu accelerator,
popover.menu modelbutton:selected .menu arrow,
popover.menu modelbutton:selected .menu label
{
    background-color: transparent;
    color: inherit;
}

popover.menu modelbutton > accelerator:dir(ltr)
{
    padding-left: 8ex;
}

popover.menu modelbutton > accelerator:dir(rtl)
{
    padding-right: 8ex;
}

popover.menu separator
{
    margin: 0.5ex 0;
}
/**********************************************/


/**********************************************/
expander,
.expander
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    border-color: @fg_color;
    min-height: 1ex;
}

expander:dir(rtl),
.expander:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

expander:checked,
.expander:checked
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
/**********************************************/


/**********************************************/
.error
{
    color: @error_bg_color;
}

.info
{
    color: @info_bg_color;
}

.question
{
    color: @question_bg_color;
}

.warning
{
    color: @warning_bg_color;
}

infobar.error
{
    background-color: @error_bg_color;
    color: @error_fg_color;
}

infobar.question
{
    background-color: @question_bg_color;
    color: @question_fg_color;
}

infobar.info
{
    background-color: @info_bg_color;
    color: @info_fg_color;
}

infobar.warning
{
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}
/**********************************************/


/**********************************************/
video
{
    background-color: black;
    min-height: 64px;
    min-width: 64px;
}
/**********************************************/


/**********************************************/
button.link > label,
:link
{
    border: 1px transparent solid;
    color: @link_color;
}

button.link > label,
:link,
:visited
{
    text-decoration: underline;
}

button.link:active > label,
button.link:hover > label,
button.link:visited:active > label,
:link:active,
:visited:active
{
    color: @link_active_color;
}

:visited
{
    color: @link_visited_color;
}
/**********************************************/
