/**********************************************/
*
{
    -GtkExpander-expander-size: 9;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
    -GtkScrollbar-has-secondary-backward-stepper: false;
    -GtkToolItemGroup-expander-size: 9;
    -GtkTreeView-expander-size: 9;
    padding: 0;
    color: @fg_color;
    border-color: @border_color;
    border-style: none;
    border-width: 1px;
}

.view:selected,
selection
{
    background-color: @selected_bg_color;
    color: @fg_color;
}

.view:selected:focus,
:selected:focus,
selection:focus
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

*:focus
{
    color: @border_color;
}

.view:focus,
entry:focus,
label:focus
{
    color: @fg_color;
}

treeview.view:focus
{
    color: @border_color;
}

treeview.view:focus *
{
    color: @fg_color;
}

*:disabled
{
    background-color: @disabled_color;
    border-color: @disabled_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

.background
{
    background-color: @bg_color;
    border: none;
}

.dnd {
	border-width: 1px;
	border-style: solid;
	border-color: @selected_bg_color;
	border-radius: 0;
}
/**********************************************/


/**********************************************/
headerbar
{
    background-color: @bg_color;
}

label,
label:active,
label:disabled,
image,
image:active,
image:disabled
{
    background-color: transparent;
    border-width: 0;
}
/**********************************************/


/**********************************************/
statusbar *
{
    border-width: 1px 0 0 0;
}

statusbar label
{
    border-width: 0;
}
/**********************************************/


/**********************************************/
tooltip.background
{
    background-color: @tooltip_bg_color;
    border: 1px solid @tooltip_border_color;
    color: @tooltip_fg_color;
}
/**********************************************/


/**********************************************/
.view
{
    background-color: @base_color;
}
/**********************************************/


/**********************************************/
row
{
    border-width: 0;
}

row:nth-child(odd)
{
    background-color: shade(@base_color, 0.97);
}

row:hover
{
    background-color: shade(@base_color, 0.95);
}
/**********************************************/


/**********************************************/
trough,
trough > row,
trough > row:hover,
trough > row:selected,
trough > row:selected:focus
{
    background-color: @trough_color;
    border-width: 0px;
}

trough > row:selected
{
    border-color: @fg_color;
}

trough > row:selected:focus
{
    border-color: @selected_fg_color;
}

pane-separator
{
    background-color: @bg_color;
    border-color: @border_color;
    border-width: 2px;
}

pane-separator:hover
{
    background-color: shade(@base_color, 0.95);
}

scrollbar slider
{
    background-color: @scrollbar_slider_color;
    border-style: solid;
    border-width: 1px;
    min-height: 10px;
    min-width: 10px;
    padding: 1px;
}

scrollbar slider:hover
{
    background-color: @scrollbar_slider_hover_color;
}

scale > contents > trough
{
    border-width: 1px;
    border-color: @border_color1;
    border-right-color: @base_color;
    border-bottom-color: @base_color;
}

scale.horizontal > contents > trough
{
    padding: 0 7px;
}

scale.vertical > contents > trough
{
    padding: 7px 0;
}

scale > contents > trough > slider
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-top-color: @base_color;
    border-width: 1px;
    padding: 1px;
    min-height: 10px;
    min-width: 10px;
}

scrolledwindow
{
    border: none;
}
/**********************************************/


/**********************************************/
switch:checked
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

switch:disabled
{
    background-color: shade(@bg_color, 0.95);
}
/**********************************************/


/**********************************************/
slider
{
    border-width: 1px;
    background-color: @bg_color;
}
/**********************************************/


/**********************************************/
separator
{
    background-color: @border_color;
    min-height: 1px;
    min-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}
/**********************************************/


/**********************************************/
button
{
    background-color: @bg_color;
    border-left-color: @base_color;
    border-style: solid;
    border-top-color: @base_color;
    border-width: 1px;
    padding: 5px;
}

button:not(.toggle).destructive-action,
button:not(.toggle).destructive-action:focus
{
    background-color: @error_bg_color;
    color: @error_fg_color;
}

button:not(.toggle).suggested-action,
button:not(.toggle).suggested-action:focus
{
    background-color: @question_bg_color;
    color: @question_fg_color;
}

button.link
{
    background-color: transparent;
    border: 1px transparent inset;
}

button.link:hover
{
    border-color: @border_color;
}

button.text-button
{
    border-width: 1px;
    padding: 4px;
}

button:hover
{
    background-color: shade(@bg_color, 1.03);
}

button:active,
button:active:focus
{
    background-color: shade(@bg_color, 0.9);
    border-bottom-color: @button_active_bottom_right_border_color;
    border-left-color: @button_active_top_left_border_color;
    border-right-color: @button_active_bottom_right_border_color;
    border-top-color: @button_active_top_left_border_color;
}

button:active:hover
{
    background-color: shade(@bg_color, 1.03);
}

button:disabled
{
    background-color: @disabled_color;
    border-color: @disabled_border_color;
    color: mix(@fg_color, @base_color, 0.5);
}

button:focus,
button.toggle:focus > label,
menubutton button.toggle:focus,
check:focus + label,
check:checked:focus + label,
radio:focus + label,
radio:checked:focus + label
{
    border-color: @button_focused_border_color;
}

button.toggle
{
    border: 2px @border_color outset;
}

button.toggle:checked
{
    border-style: inset;
}

button.toggle > label
{
    border: 1px transparent solid;
}

spinbutton,
spinbutton:focus
{
    color: @fg_color;
}

spinbutton button
{
    border: none;
}

spinbutton button:focus
{
    color: @fg_color;
}

/* Spinner code lifted from the GTK+ CSS overview */
@keyframes spin
{
    to
    {
        -gtk-icon-transform: rotate(1turn);
    }
}

spinner:checked
{
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/**********************************************/


/**********************************************/
entry
{
    background-color: @base_color;
    padding: 2px 2px 3px 2px;
    border-style: solid;
    border-width: 1px;
}

entry:disabled
{
    background-color: shade(@base_color, 0.95);
}

entry progress
{
    background-color: shade(@selected_bg_color, 1.35);
}

entry
{
    border: none;
}
/**********************************************/


/**********************************************/
checkbutton,
checkbutton:selected,
checkbutton:selected:focus,
checkbutton:disabled
{
    background-color: transparent;
}

radio,
radio:checked,
radio:selected,
radio:selected:focus
{
    background-color: @base_color;
    border: 1px solid @border_color;
    border-radius: 8px;
    color: @selected_bg_color;
}

check,
check:checked,
check:selected,
check:selected:focus
{
    background-color: @base_color;
    border: 1px solid @border_color;
    color: shade(@selected_bg_color, 0.9);
}

radio:hover,
check:hover,
radio:hover:focus,
check:hover:focus
{
    background-color: shade(@base_color, 1.03);
    border-color: @selected_bg_color;
}

radio:disabled,
radio:disabled:selected,
check:disabled,
check:disabled:selected
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

check row,
radio row
{
    background-color: @base_color;
    border-width: 1px;
}
/**********************************************/


/**********************************************/
combobox
{
    background-color: @base_color;
    border-width: 0;
}

combobox:disabled
{
    background-color: @disabled_color;
}

combobox arrow
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

combobox button
{
    padding: 0;
}
/**********************************************/


/**********************************************/
levelbar > trough > block
{
    background-color: @selected_fg_color;
    border: 1px @border_color ridge;
    min-height: 5px;
    min-width: 5px;
}

levelbar > trough > block.filled
{
    background-color: @selected_bg_color;
}

progressbar progress
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    border-width: 1px;
    min-height: 5px;
    min-width: 5px;
}

progressbar > text
{
    background-color: @bg_color;
    border: 0;
}

progressbar > trough
{
    background-color: @bg_color;
}

progressbar progress .row:selected
{
    border-color: @fg_color;
}

progressbar progress .row:selected:focus
{
    border-color: @selected_fg_color;
}
/**********************************************/


/**********************************************/
arrow
{
    min-height: 16px;
    min-width: 16px;
}

arrow.bottom
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

arrow.left
{
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

arrow.right
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

arrow.right:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

arrow.top
{
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
/**********************************************/


/**********************************************/
/** configure tabs */
frame,
notebook
{
    border: 1px @border_color outset;
}

notebook > stack
{
    padding: 4px;
    background-color: @bg_color;

    border-color: @base_color;
    border-right-color: @border_color;
    border-bottom-color: @border_color;
    border-width: 1px;
}

notebook > header > tabs > tab
{
    padding: 4px;
    border-style: outset;
    border-width: 1px;
    border-color: @trough_color;
    background-color: @trough_color;
}

notebook > header > tabs > tab:checked
{
    background-color: @bg_color;
}
notebook:focus > header > tabs > tab > label
{
    border-color: @border_color;
    border-width: 1px;
}

notebook:focus > header > tabs > tab:checked > label
{
    border-style: solid;
}

notebook > header.top > tabs > tab
{
    margin-bottom: -1px;
    border-bottom-width: 0px;
}

notebook > header.bottom > tabs > tab
{
    margin-top: -1px;
    border-top-width: 0px;
}

notebook > header.left > tabs > tab
{
    margin-right: -1px;
    border-right-width: 0px;
}

notebook > header.right > tabs > tab
{
    margin-left: -1px;
    border-left-width: 0px;
}
/**********************************************/


/**********************************************/
assistant .sidebar
{
    background-color: @trough_color;
}

assistant .sidebar .highlight,
assistant .title
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

assistant .title
{
    font-weight: bold;
    min-width: 531px;
    padding: 3px 0;
}
/**********************************************/


/**********************************************/

statusbar *
{
    border: none;
}


popover > :first-child
{
    border-width: 1px;
}


/**********************************************/
textview > :first-child
{
    background-color: inherit;
    border-width: 1px;
    color: inherit;
}

colorswatch
{
    border-width: 1px;
    background-color: @bg_color;
}

statusbar *
{
    border: none;
}


/**********************************************/
menubar
{
    border-width: 0 0 1px 0;
}

menubar > menuitem:hover,
menubar > menuitem:hover > label
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

menu
{
    border-style: solid;
    border-width: 1px;
}

menuitem
{
    border-width: 0;
    background-color: transparent;
    padding: 3px 7px 2px 7px;
}

menuitem:disabled,
menuitem :disabled
{
    background-color: transparent;
}

menu > menuitem label
{
    color: inherit;
}

menu > menuitem:hover,
menu > menuitem:hover arrow,
menu > menuitem:hover label,
menu > menuitem:hover label accelerator
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/* Don't highlight submenus of hovered items */
menu > menuitem:hover menu arrow,
menu > menuitem:hover menu label,
menu > menuitem:hover menu label accelerator
{
    background-color: transparent;
    color: inherit;
}

menu > menuitem check,
menu > menuitem radio
{
    background-color: @selected_fg_color;
    color: @selected_bg_color;
    margin-right: 5px;
    min-height: 10px;
    min-width: 10px;
}

menu > menuitem check,
menu > menuitem check:checked,
menu > menuitem check:checked:hover,
menu > menuitem check:hover,
menu > menuitem radio,
menu > menuitem radio:checked,
menu > menuitem radio:checked:hover,
menu > menuitem radio:hover
{
    border: none;
}

menu > menuitem check:hover,
menu > menuitem radio:hover
{
    background-color: @bg_color;
}

menu > menuitem check
{
    -gtk-icon-source: -gtk-icontheme("checkbox-symbolic");
    color: shade(@selected_bg_color, 0.9);
}

menu > menuitem check:checked
{
    -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
}

menu > menuitem check:disabled,
menu > menuitem radio:disabled
{
    background-color: shade(@base_color, 0.95);
    color: mix(@fg_color, @base_color, 0.5);
}

menu > menuitem radio
{
    -gtk-icon-source: -gtk-icontheme("radio-symbolic");
}

menu > menuitem radio:checked
{
    -gtk-icon-source: -gtk-icontheme("radio-checked-symbolic");
}
/**********************************************/


scrollbar button,
scrollbar button:hover,
scrollbar button:active,
scrollbar button:hover:active
{
    border-color: @border_color;
    min-height: 1px;
    min-width: 1px;
}

scrollbar.horizontal button.down
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

scrollbar.horizontal button.up
{
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

scrollbar.vertical button.down
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up
{
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}


/**********************************************/
toolbar
{
    padding: 2px 0;
    border-width: 0 0 1px 0;
}

toolbar button.image-button:not(.toggle)
{
    border: none;
}
/**********************************************/


/**********************************************/
.sidebar
{
    background-color: shade(@bg_color, 1.05);
}

.sidebar :hover,
.sidebar.view :hover
{
    background-color: @bg_color;
}

.sidebar :active
{
    background-color: @selected_bg_color;
}
/**********************************************/


popover modelbutton:hover :not(check):not(radio)
{
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

/* Visually draw attention to the focused item that's activated on Return. */
popover modelbutton:focus :not(check):not(radio)
{
    background-color: @selected_bg_color1;
    color: @selected_fg_color;
    font-style: italic;
}

expander arrow
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

expander arrow:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

expander arrow:checked
{
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
/**********************************************/


/**********************************************/
infobar.info
{
    background-color: @info_bg_color;
    color: @info_fg_color;
}

infobar.warning
{
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}

infobar.question
{
    background-color: @question_bg_color;
    color: @question_fg_color;
}

infobar.error
{
    background-color: @error_bg_color;
    color: @error_fg_color;
}
/**********************************************/


/**********************************************/
button.link label,
*:link
{
    border: 1px transparent solid;
    color: @link_color;
}

button.link > label,
*:link,
*:visited
{
    text-decoration: underline;
}


*:visited
{
    color: @link_visited_color;
}
/**********************************************/
